{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-maxfilter/out_dir_maxfilter/meg.fif",
	"param_epoched_data": false,
	"param_sfreq": 512,
	"param_npad": "auto",
	"param_window": "boxcar",
	"param_stim_picks": null,
	"param_n_jobs": 1,
	"param_events": null,
	"param_raw_pad": "reflect_limited",
	"param_epoch_pad": "edge"
}
